<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cool Name</title>
	<link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<script type="text/javascript" src="../public/javascripts/jscolor.js"></script>
</head>

<body>
	<div class="container">
		<h1>"Maze Generator"</h1>
		<div class="gameSetupContainer">
			<div class="column col-sm-4">
				<div class="row">
					<select id="difficulty" class="col-sm-11">
						<option value="61">Kris</option>
						<option value="42">Easy</option>
						<option value="27" selected="selected">Medium</option>
						<option value="17">Hard</option>
						<option value="6">Insane</option>
						<option value="2">Impossible</option>
						<option value="43">Koga</option>
					</select>
				</div>
				<div class="row">
					<button id="mazeGenButton" class="col-sm-8">Create Maze</button>
				</div>
			</div>
			<div class="column col-sm-2">
				<div class="row">
					<input id="playercolor" class="jscolor col-sm-12" value="4286f4">
				</div>
				<div class="row">
					<input id="seed" class="num col-sm-8" value="" placeholder="Random Seed:">
				</div>
			</div>
			<div class="column col-sm-4">
				<div class="row col-sm-12">
						<h3>Game Time: <span id="gameTimeDisplay"></span></h3>
				</div>
			</div>
		</div>
		<br>
		<div class="row" id="canvascontainer">
		</div>
		<div class="row">
			<div class="col-sm-2">
				<table class="highscore-table">
					<tr>
						<th colspan="2">Kris Highscores</th>
					</tr>
					<% for(var i=0; i<scores.kris.length; i++) { %>
						<tr>
							<td>
								<%= scores.kris[i].name %>
							</td>
							<td class="scorecol">
								<%= scores.kris[i].score %> s</td>
							</tr>
							<% } %>
						</table>
					</div>
					<div class="col-sm-2">
						<table class="highscore-table">
							<tr>
								<th colspan="2">Easy Highscores</th>
							</tr>
							<% for(var i=0; i<scores.easy.length; i++) { %>
								<tr>
									<td>
										<%= scores.easy[i].name %>
									</td>
									<td class="scorecol">
										<%= scores.easy[i].score %> s</td>
									</tr>
									<% } %>
								</table>
							</div>
							<div class="col-sm-2">
								<table class="highscore-table">
									<tr>
										<th colspan="2">Medium Highscores</th>
									</tr>
									<% for(var i=0; i<scores.medium.length; i++) { %>
										<tr>
											<td>
												<%= scores.medium[i].name %>
											</td>
											<td class="scorecol">
												<%= scores.medium[i].score %> s</td>
											</tr>
											<% } %>
										</table>
									</div>
									<div class="col-sm-2">
										<table class="highscore-table">
											<tr>
												<th colspan="2">Hard Highscores</th>
											</tr>
											<% for(var i=0; i<scores.hard.length; i++) { %>
												<tr>
													<td>
														<%= scores.hard[i].name %>
													</td>
													<td class="scorecol">
														<%= scores.hard[i].score %> s</td>
													</tr>
													<% } %>
												</table>
											</div>
											<div class="col-sm-2">
												<table class="highscore-table">
													<tr>
														<th colspan="2">Insane Highscores</th>
													</tr>
													<% for(var i=0; i<scores.insane.length; i++) { %>
														<tr>
															<td>
																<%= scores.insane[i].name %>
															</td>
															<td class="scorecol">
																<%= scores.insane[i].score %> s</td>
															</tr>
															<% } %>
														</table>
													</div>
													<div class="col-sm-2">
														<table class="highscore-table">
															<tr>
																<th colspan="2">Impossible Highscores</th>
															</tr>
															<% for(var i=0; i<scores.impossible.length; i++) { %>
																<tr>
																	<td>
																		<%= scores.impossible[i].name %>
																	</td>
																	<td class="scorecol">
																		<%= scores.impossible[i].score %> s</td>
																	</tr>
																	<% } %>
																</table>
															</div>
															<div class="col-sm-2">
																<table class="highscore-table">
																	<tr>
																		<th colspan="2">Koga Highscores</th>
																	</tr>
																	<% for(var i=0; i<scores.koga.length; i++) { %>
																		<tr>
																			<td>
																				<%= scores.koga[i].name %>
																			</td>
																			<td class="scorecol">
																				<%= scores.koga[i].score %> s</td>
																			</tr>
																			<% } %>
																		</table>
																	</div>
																</div>
															</div>
															<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
															<script src="../public/javascripts/bootstrap.min.js"></script>
															<script type="text/javascript" src="../public/javascripts/mazegen.js"></script>
															<script type="text/javascript" src="../public/javascripts/astar.js"></script>
															<script type="text/javascript" src="../public/javascripts/prng.js"></script>
														</body>
														
														</html>
														